<div ng-controller="poiPageController as poiPageController" >
    <divng-repeat="site in poiPageController.sites">
    <label for="name"> Site name:</label> 
    {{site.name}}
   <br>
    <img ng-style="{'height': '100px'}" ng-src="{{site.image}} ">
    <br>
    <label for="description">Description:</label>
    {{site.description}}
    <br>
    <label for="adress">Adress:</label>
    {{site.adress}}
    <br>
    <label for="category">Category:</label>
    {{site.category}}
    <br>
    <label for="Score">Score:</label>
    {{site.score}}
    <br>
    <label for="NumOfVotes">Number Of Views</label>
    {{site.numOfViews}}
    <br>
</div></div>