<link rel="stylesheet" href="/style/poiPage.css">

<div ng-controller="poiPageController as poiPageController" id="content">
    <div id="poi">
        <label for="name"> Site name:</label>
        {{poiPageController.poi.name}}
        <br>
        <label for="description">Description:</label>
        {{poiPageController.poi.description}}
        <br>
        <label for="adress">Adress:</label>
        {{poiPageController.poi.address}}
        <br>
        <label for="category">Category:</label>
        {{poiPageController.poi.category}}
        <br>
        <label for="Score">Score:</label>
        {{poiPageController.poi.total_score}}
        <br>
        <label for="NumOfVotes">Number Of Views:</label>
        {{poiPageController.poi.num_of_views}}
        <br>
        
        <div ng-show="login">
                <div ng-show="poiPageController.pois.indexOf(poiPageController.poi.id) === -1">
                        <img src="https://image.flaticon.com/icons/svg/53/53415.svg" ng-click="poiPageController.addToFavorits(poiPageController.poi.id)"
                                style="height: 50px; width: 50px;">
                </div>
                <div ng-show="poiPageController.pois.indexOf(poiPageController.poi.id) > -1">
                        <img  src="https://image.flaticon.com/icons/svg/148/148839.svg" ng-click="poiPageController.removeFromFavorites(poiPageController.poi.id)" style="height: 50px; width: 50px;">
                </div>
        </div>
        <br>
       
    </div>
</div>
    <img id="image" ng-style="{'height': '400px'}" ng-src="{{poiPageController.poi.pic}} ">
</div>