#content {
    position: fixed;
    background-image: url('https://i.ytimg.com/vi/_lQHg7NjZSI/maxresdefault.jpg');
    top: 7.5%;
    height: 92.5%;
    width: 100%;
    overflow: auto;
}
#head{
    position: absolute;
    top: 5%;
    left: 38%;
}

#poi {
    position: relative;
    left: 10%;
    top: 15%;
    width: 70%;
    text-align: left;
}
#image{
    position: absolute;
    top: 18%;
    left:35%;
}
#saveButton{
    position: absolute;
    top: 2%;
    left: 95%;
}
#removeButton{
    width: 20%;
}
#moveButtons{
    position: absolute;
    left: 25%;
}