#content {
    position: fixed;
    top: 7%;
    width: 100%;
    height: 93%;
    background-image: url('https://i.ytimg.com/vi/_lQHg7NjZSI/maxresdefault.jpg');
    background-repeat: no-repeat;
    color: black;
    overflow: auto;
}

#recomended {
    position: absolute;
    top: 0%;
    height: 60%;
    width: 100%;
}

#category1 {
    position: absolute;
    left: 10%;
}

#category2 {
    position: absolute;
    left: 50%;
}

#visited {
    position: absolute;
    top: 60%;
    height: 40%;
    width: 100%;
    float: left;
    display: flex;
}

#visited_head {
    text-align: center;
}

.visited_poi1 {
    margin-left: 20%;
    top: 5%;
    left: 10%;

    
}

a{
    color: black
}
#visited_poi2 {
    position: absolute;
    top: 5%;
    left: 80%;
}
#noPoi{
    position: absolute;
    top: 70%;
    left: 38%;
}

#poi{
    display: flex;
    float: left;
}