<link rel="stylesheet" href="/style/poi.css">


<div ng-controller="poiCtrl as poiCtrl" id="content" class="table">
        <table id="poiTable">
                <thead>
                        <tr class="thead-dark">
                                <th scope="col"></th>

                                <th ng-show="login">
                                        <img src="https://image.flaticon.com/icons/svg/148/148839.svg" ng-click="poiCtrl.addToFavorits()" style="height: 50px; width: 30px;"> {{poiCtrl.size}}
                                </th>


                                <th>category
                                        <select type="text" ng-model="poiCtrl.selectedCategory" ng-options="x for x in poiCtrl.categories"></select>
                                </th>
                                <th>
                                        <button ng-click="poiCtrl.clearFilter()" class="btn btn-dark">Clear Filter</button>
                                </th>
                                <th>
                                        <h2>Points Of Interest</h2>
                                </th>
<th></th>
<th></th>


                                <th></th>










                        </tr>

                        <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Score</th>
                                <th></th>
                                <th></th>
                                <th></th>
                        </tr>
                </thead>
                <tbody ng-repeat="x in poiCtrl.sites | filter:{category:poiCtrl.selectedCategory}">

                        <tr>
                                <th></th>
                                <td>
                                        <a href="#poiPage" ng-click="poiCtrl.selectedSite(x)">{{x.name }}</a>
                                </td>
                                <td>{{x.category}}</td>
                                <td>{{x.total_score | number : 1}}</td>
                                <td>
                                        <img ng-style="{'height': '100px'}" ng-src="{{x.pic}} ">
                                </td>
                                <td>
                                        <div ng-show="login">
                                                <div ng-show="poiCtrl.pois.indexOf(x.id) === -1">
                                                        <img src="https://image.flaticon.com/icons/svg/148/148839.svg" ng-click="poiCtrl.addToFavorits(x)" style="height: 50px; width: 50px;">
                                                </div>
                                                <div ng-show="poiCtrl.pois.indexOf(x.id) > -1">
                                                        <img src="https://image.flaticon.com/icons/svg/53/53415.svg" ng-click="poiCtrl.removeFromFavorites(x)" style="height: 50px; width: 50px;">
                                                </div>
                                        </div>
                                </td>
                                <td></td>
                        </tr>
                </tbody>
        </table>
</div>