

<style>
    #content {
        position: fixed;
        background-image: url('https://i.ytimg.com/vi/_lQHg7NjZSI/maxresdefault.jpg');
        top: 7.5%;
        height: 92.5%;
        width: 100%;
        overflow: auto;
    }

    #poi {
        position: relative;
        left: 10%;
        top: 10%;
        width: 70%;
        text-align: left;
    }
    #image{
        position: absolute;
        top: 18%;
        left:35%;
    }
    #saveButton{
        position: absolute;
        top: 2%;
        left: 95%;
    }
    #removeButton{
        width: 20%;
    }

</style>



<div  ng-controller="favoritesController as favCtrl" id="content">
    <div id="saveButton">
        <button class="btn btn-dark" ng-click="saveFva()" >Save</button>
    </div>
    <div ng-repeat="fav in favCtrl.sites" id="poi" ng-if="favCtrl.pois.indexOf(fav.id) > -1">
        <label for="name"> Site name:</label>
        {{fav.name}}
        <br>
        <label for="description">Description:</label>
        {{fav.description}}
        <br>
        <label for="adress">Adress:</label>
        {{fav.adress}}
        <br>
        <label for="category">Category:</label>
        {{fav.category}}
        <br>
        <label for="Score">Score:</label>
        {{fav.score}}
        <br>
        <label for="NumOfVotes">Number Of Views</label>
        {{fav.numOfViews}}
        <br>
        <button id="removeButton" ng-click="favCtrl.removeFromFavorits(x)" class="form-control">Remove from favorits</button>
        <br>
        <br>
    </div>
    <img id="image" ng-style="{'height': '100px'}" ng-src="{{poiPageController.poi.pic}} ">
</div>