<link rel="stylesheet" href="/style/favorites.css">

<div  ng-controller="favoritesController as favCtrl" id="content">
    <div id="saveButton">
        <button class="btn btn-dark" ng-click="favCtrl.saveFva()" >Save</button>
    </div>
    <div ng-repeat="fav in favCtrl.sites" id="poi" ng-if="favCtrl.pois.indexOf(fav.id) > -1">
        <label for="name"> Site name:</label>
        <a href="#poiPage" ng-click="favCtrl.selectedSite(fav)">{{fav.name}}</a>
        <br>
        <button id="removeButton" ng-click="favCtrl.remove(fav)" class="form-control">Remove from favorits</button>
        <br>
        <br>
    </div>
    <img id="image" ng-style="{'height': '100px'}" ng-src="{{poiPageController.poi.pic}} ">
</div>