<link rel="stylesheet" href="/style/home.css">

<div id="content" ng-controller="homeController as homCtrl">
    <div id="recomended" class="border">
        <div id="category1">
            {{homCtrl.cats[0]}}
            <br> {{homCtrl.sites[homCtrl.index1].name}} <br>
            <img ng-style="{'height': '100px'}" ng-src="{{homCtrl.sites[homCtrl.index1].pic}} ">

            <br> 
        </div>
        <div id="category2">
            {{homCtrl.cats[1]}}
            <br> {{homCtrl.sites[homCtrl.index2].name}}
            <br> 
            <img ng-style="{'height': '100px'}" ng-src="{{homCtrl.sites[homCtrl.index2].pic}} ">

        </div>


    </div>
    <div id="visited" class="border" ng-if="homCtrl.favExsist">
        <div id="visited_head">
            last saved:
        </div>
        <br>

        <div  ng-repeat="fav in homCtrl.poiArray">
            <a href="#poiPage" ng-click="homCtrl.selectedSite(fav)">{{fav.name}}</a>
            <br>
            <img ng-style="{'height': '100px'}" ng-src="{{fav.pic}}">
        </div>


    </div>
    <div id="noPoi" ng-if="!homCtrl.favExsist">
        <h3>no POIs to present</h3>
    </div>

    <div class="visited_poi1" ng-repeat="poi in homCtrl.sites">
       <div ng-repeat="fav in homCtrl.pois" ng-if="poi.id == fav" >
        <a href="#poiPage" ng-click="homCtrl.selectedSite(poi)">{{poi.name }}</a>

        <img ng-style="{'height': '100px'}" ng-src="{{poi.pic}} ">

       </div>
        
    </div>
</div>