<link rel="stylesheet" href="/style/home.css">

    <div id="content" ng-controller="homeController as homCtrl">
        <div id="recomended" class="border">
            <div id="category1">
                category1:
                <br> poi1
                <br> poi2
            </div>
            <div id="category2">
                category2:
                <br> poi1
                <br> poi2
            </div>
        </div>
        <div id="visited" class="border">
            <div id="visited_head">
                last saved:
            </div>
            <br>
            <div id="visited_poi1">
                name
                <br> details
            </div>

            <div id="visited_poi2">
                name
                <br> details
            </div>
        </div>
    </div>





