<link rel="stylesheet" href="/style/register.css">
<div id="content">
    <div id="reg" ng-controller="registerController as regCtrl">
        <div id="head">
            <h3>Register</h3>
        </div>
        <div class="border border-dark">
            <form ng-submit="regCtrl.submit()" name="myForm">
                <input ng-model="regCtrl.username" type="text" placeholder="UserName" class="form-control" required ng-minlength="2">
                <input ng-model="regCtrl.firstName" type="text" placeholder="FirstName" class="form-control" required ng-minlength="2">
                <input ng-model="regCtrl.lastName" type="text" placeholder="LastName" class="form-control" required ng-minlength="2">
                <input ng-model="regCtrl.password" type="text" placeholder="Password" class="form-control" required ng-minlength="2">
                <input ng-model="regCtrl.email" type="text" placeholder="Email" class="form-control" required ng-minlength="2">
                <input ng-model="regCtrl.city" type="text" placeholder="City" class="form-control" required ng-minlength="2">
                <select name="Country" id="Country" class="form-control" aria-placeholder="Country" ng-model="regCtrl.selectedCountry" ng-options="item for item in regCtrl.countries"></select>

                    <label>choose at least two categories:</label>
                    <br>
                    <input type="checkbox" placeholder="Category" ng-model="regCtrl.category1" > Resturants
                    <br>
                    <input type="checkbox" placeholder="Category" ng-model="regCtrl.category2"> Parks
                    <br>
                    <input type="checkbox" placeholder="Category" ng-model="regCtrl.category3"> Academic institutions
                    <br>
                    <input type="checkbox" placeholder="Category" ng-model="regCtrl.category4"> Cinema
                    <br>
                    <label>choose authentication question:</label>
                    <br>
                
                        <input type="radio" name="q" placeholder="Question" ng-model="regCtrl.selectedQ" ng-value="1" ng-required="!reg.selectedCountry"> what is your pet's name?
                        <br>
                        <input type="radio" name="q" placeholder="Question"  ng-model="regCtrl.selectedQ" ng-value="2"> what is your mother's maiden name?
                    
                    
                    <input type="text" class="form-control" ng-model="regCtrl.ans" placeholder="Answer" required ng-minlength="2">
                    <br>
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="regCtrl.submit()" ng-disabled="myForm.$invalid">Submit</button>
            </form>

        </div>
    </div>

</div>